<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get all cars</title>
</head>
<style>
    table, th, td {
        border: 3px solid black;
        color: darkblue;
        width: 100px;

        border-block-color: darkgoldenrod;
    }
</style>
<body>
<table>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> model </th>
    </tr>
    <div th:each="car1: ${car1}">
        <tr>
            <td>
                <p th:text="${car1.id}"></p>
            </td>
            <td>
                <p th:text="${car1.carname}"></p>
            </td>
            <td>
                <p th:text="${car1.colour}"></p>
            </td>
        </tr>
    </div>

</table>
</body>
</html>